# binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# coverage
coverage
*.out
*.lcov

# logs
logs/
*.log

# dotenv
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / OS
.idea/
.DS_Store
