.twls-button {
  display: inline-block;
  border-radius: calc(var(--global-radius) * 1px);
  cursor: pointer;
  width: fit-content;
  font-size: 1.6rem;
  font-weight: 600;
  color: #e4e4e4;
  border-style: solid;
  border-width: 0;
  background-color: var(--bg-button-main);
  padding-top: 2.1rem;
  padding-bottom: 2.1rem;
  padding-left: 3.8rem;
  padding-right: 3.8rem;
  position: relative;

  &:hover {
    background-color: var(--bg-button-hover);
  }

  &.ghost {
    background-color: transparent;
    border: var(--text-caption) 1px solid;
    color: var(--text-main);

    &:hover {
      color: var(--text-caption);
      border-color: #b9b9b9;
    }

    &:active {
      background-color: transparent;
    }
  }

  &:active {
    background-color: var(--text-main);
    top: 1px;
    /* height: calc(fit-content - 10px); */
  }
}
