:root {
  --bg-page: #efefef;
  --bg-highlight: #ffffff;
  --text-main: #494949;
  --text-caption: #747474;
  --text-highlight: #000000;
  --bg-button-main: #3b3b3b;
  --bg-button-optional: #e1e1e1;
  --bg-button-hover: #696969;
  --alert: #bc2f2f;
  --fz-root: 16;
  --heading-lh: 1.04;
  --body-text-lh: 1.7;
  --caption-lh: 1.3;
  --global-px: 100;
  --global-radius: 5;
  --global-radius-minor: 3;
}
